.newdesign {
  position: relative;
  overflow: hidden;
  padding: 155px 0 135px 0 !important;

  background-color: white;

  div{
    h6 {
      color: $red;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    h2 {
      font-size: 44px;
      color: #333;
      padding-bottom: 40px;
      letter-spacing: 1px;
      word-spacing: 3px;
      .dots {
        color: $red;

      }
    }
  }
  .triangle {
    background-size: 50% 100%;
    background-image: url("./../images/3.png");
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(50% + 183px);

  }
}