.overdesigners {
  padding: 60px 0;
  background: #323969;
  p {
    padding-top: 50px;
    color: lightgray;
    a {
      color: lightgray;
    }
  }
  div {
    h6 {
      @extend %h6;
      text-align: center;
    }
    h2 {
      font-size: 44px;
      @extend %whitecenter;
    }
    div {padding: 40px 15px 0;
      input {
        background: #474d78;
        border: lightgrey solid 1px;
        border-radius: 3px;
        padding: 11px;
        width: 100%;
        color: $white;
        &::placeholder {
          color: white;
          text-transform: uppercase;
        }
      }

      button {
        width: 100%;
        padding: 11px 0;
        background: $red;
        border: none;
        box-shadow: 2px 2px 5px 0 #333;
      }
      .button__wrapper {
        position: relative;
        &:before {
          width: 100%;
          position: absolute;
          top: -15px;
          @extend %whitecenter;
          content: '30 days free trial for all.';
          letter-spacing: 1px;
          background: url("./../images/18.png") left no-repeat;
          padding-bottom: 15px;
        }
      }
    }
  }
}