.cofounder {
  background-image: url("./../images/10.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 93px 0 73px 0;
  &__content {
    h4 {
      color: $white;
      padding-top: 20px;
    }
    h6 {
      color: $red;
    }
    p {
      color: #96979a;
      text-align: center;
      font-style: italic;
      padding: 30px 30px 70px;
    }
  }
  .logo {
    img {
      opacity: 50%;
    }
  }
}