@media (max-width: $breakpointXl) {
  iframe {
    width: 770px;
    height: 520px;
  }
}

@media (max-width: $breakpointLg) {
  iframe {
    width: 470px;
    height: 250px;
  }
}

@media (max-width: $breakpointMd) {
  .baner {
   &__content {
     h1 {
       font-size: 44px;
     }
   }
  }
  iframe {
    width: 470px;
    height: 250px;
  }
}

@media (max-width: $breakpointSm) {
  .playbutton {
    display: none;
  }

  iframe {
    display: none;
  }
}