.awesome {
  padding: 100px 0 0 0;
  background-color: white;
  div {
    h6 {
      color: $red;
      text-transform: uppercase;
    }
    p {
      max-width: 650px;
      padding: 35px 0 80px;
    }
  }
}