.resposive {
  background: linear-gradient(45deg, $red 50%,#ffffff 50%);
  padding: 90px 0 ;
  background-position: center;
  background-repeat: no-repeat;
  div{
    h6 {
      @extend %h6;
    }
    h2 {
      @extend %h2;
    }
  }
}